.container{
    position:absolute;
    top:27%;
    left: 30%
}

.video-container {
    max-width: auto;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .upload-button {
    margin-top: 10px;
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .upload-button:hover {
    background-color: #0056b3;
  }

  p{
    font-size: 23px;
    font-family: 'Times New Roman', Times, serif;
  }
  